{% extends 'base.html' %}


{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<div class="container"> 
    <form action="/print-ac" method="GET" id="size">
        <div class="form-group">
          <label for="size">Enter Size Here</label>
          <input type="number" class="form-control" name="input-size" min="1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}

{% block after_body %}{% endblock %} 